In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from functools import reduce

## Datasets de temperaturas medias diarias año 2023

In [67]:
df_temp_ene =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_ene_23.csv',sep=';', encoding='utf-8')
df_temp_ene.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-01-01  Temperatura media  Noroeste  Casa de Campo   9,3
1  2023-01-02  Temperatura media  Noroeste  Casa de Campo  10,7
2  2023-01-03  Temperatura media  Noroeste  Casa de Campo   7,2
3  2023-01-04  Temperatura media  Noroeste  Casa de Campo   5,7
4  2023-01-05  Temperatura media  Noroeste  Casa de Campo   5,6

In [68]:
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [69]:
df_temp_ene['Fecha'] = pd.to_datetime(df_temp_ene['Fecha'])
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [70]:
df_temp_ene['Valor'] = df_temp_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_ene['Valor'] = df_temp_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_ene.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-01-01  Temperatura media  Noroeste  Casa de Campo   9.3
1 2023-01-02  Temperatura media  Noroeste  Casa de Campo  10.7
2 2023-01-03  Temperatura media  Noroeste  Casa de Campo   7.2
3 2023-01-04  Temperatura media  Noroeste  Casa de Campo   5.7
4 2023-01-05  Temperatura media  Noroeste  Casa de Campo   5.6

In [71]:
df_temp_ene['Valor'] = pd.to_numeric(df_temp_ene['Valor'], errors='coerce')
df_temp_ene.head()

       Fecha           Magnitud      Zona       Estación  Valor
0 2023-01-01  Temperatura media  Noroeste  Casa de Campo    9.3
1 2023-01-02  Temperatura media  Noroeste  Casa de Campo   10.7
2 2023-01-03  Temperatura media  Noroeste  Casa de Campo    7.2
3 2023-01-04  Temperatura media  Noroeste  Casa de Campo    5.7
4 2023-01-05  Temperatura media  Noroeste  Casa de Campo    5.6

In [72]:
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [73]:
df_temp_feb =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_feb_23.csv',sep=';', encoding='utf-8')
df_temp_feb.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-02-01  Temperatura media  Noroeste  Casa de Campo   4,1
1  2023-02-02  Temperatura media  Noroeste  Casa de Campo   6,0
2  2023-02-03  Temperatura media  Noroeste  Casa de Campo   5,9
3  2023-02-04  Temperatura media  Noroeste  Casa de Campo   6,6
4  2023-02-05  Temperatura media  Noroeste  Casa de Campo   7,1

In [74]:
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [75]:
df_temp_feb['Fecha'] = pd.to_datetime(df_temp_feb['Fecha'])
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [76]:
df_temp_feb['Valor'] = df_temp_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_feb['Valor'] = df_temp_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_feb.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-02-01  Temperatura media  Noroeste  Casa de Campo   4.1
1 2023-02-02  Temperatura media  Noroeste  Casa de Campo   6.0
2 2023-02-03  Temperatura media  Noroeste  Casa de Campo   5.9
3 2023-02-04  Temperatura media  Noroeste  Casa de Campo   6.6
4 2023-02-05  Temperatura media  Noroeste  Casa de Campo   7.1

In [77]:
df_temp_feb['Valor'] = pd.to_numeric(df_temp_feb['Valor'], errors='coerce')

In [78]:
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [79]:
df_temp_mar =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_mar_23.csv',sep=';', encoding='utf-8')
df_temp_mar.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-03-01  Temperatura media  Noroeste  Casa de Campo   1,1
1  2023-03-02  Temperatura media  Noroeste  Casa de Campo   3,0
2  2023-03-03  Temperatura media  Noroeste  Casa de Campo   4,6
3  2023-03-04  Temperatura media  Noroeste  Casa de Campo   5,7
4  2023-03-05  Temperatura media  Noroeste  Casa de Campo   3,6

In [80]:
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [81]:
df_temp_mar['Fecha'] = pd.to_datetime(df_temp_mar['Fecha'])
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [82]:
df_temp_mar['Valor'] = df_temp_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_mar['Valor'] = df_temp_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_mar.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-03-01  Temperatura media  Noroeste  Casa de Campo   1.1
1 2023-03-02  Temperatura media  Noroeste  Casa de Campo   3.0
2 2023-03-03  Temperatura media  Noroeste  Casa de Campo   4.6
3 2023-03-04  Temperatura media  Noroeste  Casa de Campo   5.7
4 2023-03-05  Temperatura media  Noroeste  Casa de Campo   3.6

In [83]:
df_temp_mar['Valor'] = pd.to_numeric(df_temp_mar['Valor'], errors='coerce')

In [84]:
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [85]:
df_temp_abr =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_abr_23.csv',sep=';', encoding='utf-8')
df_temp_abr.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-04-01  Temperatura media  Noroeste  Casa de Campo  13,7
1  2023-04-02  Temperatura media  Noroeste  Casa de Campo  11,7
2  2023-04-03  Temperatura media  Noroeste  Casa de Campo  11,6
3  2023-04-04  Temperatura media  Noroeste  Casa de Campo  13,0
4  2023-04-05  Temperatura media  Noroeste  Casa de Campo  13,0

In [86]:
df_temp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [87]:
df_temp_abr['Fecha'] = pd.to_datetime(df_temp_abr['Fecha'])
df_temp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [88]:
df_temp_abr['Valor'] = df_temp_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_abr['Valor'] = df_temp_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_abr.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-04-01  Temperatura media  Noroeste  Casa de Campo  13.7
1 2023-04-02  Temperatura media  Noroeste  Casa de Campo  11.7
2 2023-04-03  Temperatura media  Noroeste  Casa de Campo  11.6
3 2023-04-04  Temperatura media  Noroeste  Casa de Campo  13.0
4 2023-04-05  Temperatura media  Noroeste  Casa de Campo  13.0

In [89]:
df_temp_abr['Valor'] = pd.to_numeric(df_temp_abr['Valor'], errors='coerce')

In [90]:
df_temp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [91]:
df_temp_may =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_may_23.csv',sep=';', encoding='utf-8')
df_temp_may.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-05-01  Temperatura media  Noroeste  Casa de Campo  19,4
1  2023-05-02  Temperatura media  Noroeste  Casa de Campo  20,4
2  2023-05-03  Temperatura media  Noroeste  Casa de Campo  21,6
3  2023-05-04  Temperatura media  Noroeste  Casa de Campo  19,4
4  2023-05-05  Temperatura media  Noroeste  Casa de Campo  18,9

In [92]:
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [93]:
df_temp_may['Fecha'] = pd.to_datetime(df_temp_may['Fecha'])
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [94]:
df_temp_may['Valor'] = df_temp_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_may['Valor'] = df_temp_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_may.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-05-01  Temperatura media  Noroeste  Casa de Campo  19.4
1 2023-05-02  Temperatura media  Noroeste  Casa de Campo  20.4
2 2023-05-03  Temperatura media  Noroeste  Casa de Campo  21.6
3 2023-05-04  Temperatura media  Noroeste  Casa de Campo  19.4
4 2023-05-05  Temperatura media  Noroeste  Casa de Campo  18.9

In [95]:
df_temp_may['Valor'] = pd.to_numeric(df_temp_may['Valor'], errors='coerce')

In [96]:
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [97]:
df_temp_jun =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_jun_23.csv',sep=';', encoding='utf-8')
df_temp_jun.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-06-01  Temperatura media  Noroeste  Casa de Campo  17,4
1  2023-06-02  Temperatura media  Noroeste  Casa de Campo  17,3
2  2023-06-03  Temperatura media  Noroeste  Casa de Campo  18,2
3  2023-06-04  Temperatura media  Noroeste  Casa de Campo  20,0
4  2023-06-05  Temperatura media  Noroeste  Casa de Campo  20,2

In [98]:
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [99]:
df_temp_jun['Fecha'] = pd.to_datetime(df_temp_jun['Fecha'])
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [100]:
df_temp_jun['Valor'] = df_temp_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_jun['Valor'] = df_temp_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_jun.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-06-01  Temperatura media  Noroeste  Casa de Campo  17.4
1 2023-06-02  Temperatura media  Noroeste  Casa de Campo  17.3
2 2023-06-03  Temperatura media  Noroeste  Casa de Campo  18.2
3 2023-06-04  Temperatura media  Noroeste  Casa de Campo  20.0
4 2023-06-05  Temperatura media  Noroeste  Casa de Campo  20.2

In [101]:
df_temp_jun['Valor'] = pd.to_numeric(df_temp_jun['Valor'], errors='coerce')

In [102]:
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [103]:
df_temp_jul =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_jul_23.csv',sep=';', encoding='utf-8')
df_temp_jul.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-07-01  Temperatura media  Noroeste  Casa de Campo  25,4
1  2023-07-02  Temperatura media  Noroeste  Casa de Campo  27,2
2  2023-07-03  Temperatura media  Noroeste  Casa de Campo  28,5
3  2023-07-04  Temperatura media  Noroeste  Casa de Campo  27,5
4  2023-07-05  Temperatura media  Noroeste  Casa de Campo  26,7

In [104]:
df_temp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [105]:
df_temp_jul['Fecha'] = pd.to_datetime(df_temp_jul['Fecha'])
df_temp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [106]:
df_temp_jul['Valor'] = df_temp_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_jul['Valor'] = df_temp_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_jul.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-07-01  Temperatura media  Noroeste  Casa de Campo  25.4
1 2023-07-02  Temperatura media  Noroeste  Casa de Campo  27.2
2 2023-07-03  Temperatura media  Noroeste  Casa de Campo  28.5
3 2023-07-04  Temperatura media  Noroeste  Casa de Campo  27.5
4 2023-07-05  Temperatura media  Noroeste  Casa de Campo  26.7

In [107]:
df_temp_jul['Valor'] = pd.to_numeric(df_temp_jul['Valor'], errors='coerce')

In [108]:
df_temp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [109]:
df_temp_ago =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_ago_23.csv',sep=';', encoding='utf-8')
df_temp_ago.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-08-01  Temperatura media  Noroeste  Casa de Campo  29,5
1  2023-08-02  Temperatura media  Noroeste  Casa de Campo  28,4
2  2023-08-03  Temperatura media  Noroeste  Casa de Campo  26,0
3  2023-08-04  Temperatura media  Noroeste  Casa de Campo  26,0
4  2023-08-05  Temperatura media  Noroeste  Casa de Campo  24,2

In [110]:
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [111]:
df_temp_ago['Fecha'] = pd.to_datetime(df_temp_ago['Fecha'])
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [112]:
df_temp_ago['Valor'] = df_temp_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_ago['Valor'] = df_temp_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_ago.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-08-01  Temperatura media  Noroeste  Casa de Campo  29.5
1 2023-08-02  Temperatura media  Noroeste  Casa de Campo  28.4
2 2023-08-03  Temperatura media  Noroeste  Casa de Campo  26.0
3 2023-08-04  Temperatura media  Noroeste  Casa de Campo  26.0
4 2023-08-05  Temperatura media  Noroeste  Casa de Campo  24.2

In [113]:
df_temp_ago['Valor'] = pd.to_numeric(df_temp_ago['Valor'], errors='coerce')

In [114]:
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [115]:
df_temp_sep =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_sep_23.csv',sep=';', encoding='utf-8')
df_temp_sep.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-09-01  Temperatura media  Noroeste  Casa de Campo  23,6
1  2023-09-02  Temperatura media  Noroeste  Casa de Campo  18,3
2  2023-09-03  Temperatura media  Noroeste  Casa de Campo  17,3
3  2023-09-04  Temperatura media  Noroeste  Casa de Campo  19,2
4  2023-09-05  Temperatura media  Noroeste  Casa de Campo  21,9

In [116]:
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [117]:
df_temp_sep["Fecha"] = pd.to_datetime(df_temp_sep["Fecha"])
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [118]:
df_temp_sep['Valor'] = df_temp_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_sep['Valor'] = df_temp_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_sep.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-09-01  Temperatura media  Noroeste  Casa de Campo  23.6
1 2023-09-02  Temperatura media  Noroeste  Casa de Campo  18.3
2 2023-09-03  Temperatura media  Noroeste  Casa de Campo  17.3
3 2023-09-04  Temperatura media  Noroeste  Casa de Campo  19.2
4 2023-09-05  Temperatura media  Noroeste  Casa de Campo  21.9

In [119]:
df_temp_sep['Valor'] = pd.to_numeric(df_temp_sep['Valor'], errors='coerce')

In [120]:
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [121]:
df_temp_oct =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_oct_23.csv',sep=';', encoding='utf-8')
df_temp_oct.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-10-01  Temperatura media  Noroeste  Casa de Campo  22,6
1  2023-10-02  Temperatura media  Noroeste  Casa de Campo  21,8
2  2023-10-03  Temperatura media  Noroeste  Casa de Campo  21,2
3  2023-10-04  Temperatura media  Noroeste  Casa de Campo  21,7
4  2023-10-05  Temperatura media  Noroeste  Casa de Campo  21,9

In [122]:
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [123]:
df_temp_oct["Fecha"] = pd.to_datetime(df_temp_oct["Fecha"])
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [124]:
df_temp_oct['Valor'] = df_temp_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_oct['Valor'] = df_temp_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_oct.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-10-01  Temperatura media  Noroeste  Casa de Campo  22.6
1 2023-10-02  Temperatura media  Noroeste  Casa de Campo  21.8
2 2023-10-03  Temperatura media  Noroeste  Casa de Campo  21.2
3 2023-10-04  Temperatura media  Noroeste  Casa de Campo  21.7
4 2023-10-05  Temperatura media  Noroeste  Casa de Campo  21.9

In [125]:
df_temp_oct['Valor'] = pd.to_numeric(df_temp_oct['Valor'], errors='coerce')

In [126]:
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [127]:
df_temp_nov =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_nov_23.csv',sep=';', encoding='utf-8')
df_temp_nov.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-11-01  Temperatura media  Noroeste  Casa de Campo  11,1
1  2023-11-02  Temperatura media  Noroeste  Casa de Campo  11,8
2  2023-11-03  Temperatura media  Noroeste  Casa de Campo   9,2
3  2023-11-04  Temperatura media  Noroeste  Casa de Campo  11,1
4  2023-11-05  Temperatura media  Noroeste  Casa de Campo  10,1

In [128]:
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [129]:
df_temp_nov["Fecha"] = pd.to_datetime(df_temp_nov["Fecha"])
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [130]:
df_temp_nov['Valor'] = df_temp_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_nov['Valor'] = df_temp_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_nov.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-11-01  Temperatura media  Noroeste  Casa de Campo  11.1
1 2023-11-02  Temperatura media  Noroeste  Casa de Campo  11.8
2 2023-11-03  Temperatura media  Noroeste  Casa de Campo   9.2
3 2023-11-04  Temperatura media  Noroeste  Casa de Campo  11.1
4 2023-11-05  Temperatura media  Noroeste  Casa de Campo  10.1

In [131]:
df_temp_nov['Valor'] = pd.to_numeric(df_temp_nov['Valor'], errors='coerce')

In [132]:
df_nulos = df_temp_nov[df_temp_nov.isnull().any(axis=1)]
print(df_nulos)

        Fecha           Magnitud      Zona       Estación  Valor
22 2023-11-23  Temperatura media  Noroeste  Casa de Campo    NaN
23 2023-11-24  Temperatura media  Noroeste  Casa de Campo    NaN

In [133]:
df_temp_nov['Valor'] = df_temp_nov['Valor'].fillna(df_temp_nov['Valor'].mean())
df_temp_nov.head()

       Fecha           Magnitud      Zona       Estación  Valor
0 2023-11-01  Temperatura media  Noroeste  Casa de Campo   11.1
1 2023-11-02  Temperatura media  Noroeste  Casa de Campo   11.8
2 2023-11-03  Temperatura media  Noroeste  Casa de Campo    9.2
3 2023-11-04  Temperatura media  Noroeste  Casa de Campo   11.1
4 2023-11-05  Temperatura media  Noroeste  Casa de Campo   10.1

In [134]:
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [135]:
df_temp_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/temp_dic_23.csv', sep=';', encoding='utf-8')
df_temp_dic.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2023-12-01  Temperatura media  Noroeste  Casa de Campo   8,1
1  2023-12-02  Temperatura media  Noroeste  Casa de Campo   7,5
2  2023-12-03  Temperatura media  Noroeste  Casa de Campo   3,9
3  2023-12-04  Temperatura media  Noroeste  Casa de Campo   6,8
4  2023-12-05  Temperatura media  Noroeste  Casa de Campo   5,9

In [136]:
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [137]:
df_temp_dic["Fecha"] = pd.to_datetime(df_temp_dic["Fecha"])
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [138]:
df_temp_dic['Valor'] = df_temp_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_dic['Valor'] = df_temp_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_dic.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2023-12-01  Temperatura media  Noroeste  Casa de Campo   8.1
1 2023-12-02  Temperatura media  Noroeste  Casa de Campo   7.5
2 2023-12-03  Temperatura media  Noroeste  Casa de Campo   3.9
3 2023-12-04  Temperatura media  Noroeste  Casa de Campo   6.8
4 2023-12-05  Temperatura media  Noroeste  Casa de Campo   5.9

In [139]:
df_temp_dic['Valor'] = pd.to_numeric(df_temp_dic['Valor'], errors='coerce')

In [140]:
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [141]:
df_temp = pd.concat([df_temp_ene, df_temp_feb, df_temp_mar, df_temp_abr, df_temp_may, df_temp_jun, df_temp_jul, df_temp_ago, df_temp_sep, df_temp_oct, df_temp_nov, df_temp_dic ],axis=0, ignore_index=True)
df_temp

         Fecha           Magnitud      Zona       Estación  Valor
0   2023-01-01  Temperatura media  Noroeste  Casa de Campo    9.3
1   2023-01-02  Temperatura media  Noroeste  Casa de Campo   10.7
2   2023-01-03  Temperatura media  Noroeste  Casa de Campo    7.2
3   2023-01-04  Temperatura media  Noroeste  Casa de Campo    5.7
4   2023-01-05  Temperatura media  Noroeste  Casa de Campo    5.6
..         ...                ...       ...            ...    ...
360 2023-12-27  Temperatura media  Noroeste  Casa de Campo    3.2
361 2023-12-28  Temperatura media  Noroeste  Casa de Campo    2.6
362 2023-12-29  Temperatura media  Noroeste  Casa de Campo    4.4
363 2023-12-30  Temperatura media  Noroeste  Casa de Campo    5.6
364 2023-12-31  Temperatura media  Noroeste  Casa de Campo    6.7

[365 rows x 5 columns]

In [142]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     365 non-null    datetime64[ns]
 1   Magnitud  365 non-null    object
 2   Zona      365 non-null    object
 3   Estación  365 non-null    object
 4   Valor     365 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 14.4+ KB

In [143]:
df_temp.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [144]:
df_temp.rename(columns={'Valor': 'Temperatura_Media'}, inplace=True)
df_temp.head()

       Fecha  Temperatura_Media
0 2023-01-01                9.3
1 2023-01-02               10.7
2 2023-01-03                7.2
3 2023-01-04                5.7
4 2023-01-05                5.6

In [145]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              365 non-null    datetime64[ns]
 1   Temperatura_Media  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de precipitaciones diarias año 2021

In [146]:
df_precp_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_ene_23.csv', sep=';', encoding='utf-8')
df_precp_ene.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-01-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-01-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-01-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-01-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-01-05  Precipitación  Noroeste  Casa de Campo  0,00

In [147]:
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [148]:
df_precp_ene["Fecha"] = pd.to_datetime(df_precp_ene["Fecha"])
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [149]:
df_precp_ene['Valor'] = df_precp_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_ene['Valor'] = df_precp_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_ene.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-01-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-01-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-01-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-01-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-01-05  Precipitación  Noroeste  Casa de Campo  0.00

In [150]:
df_precp_ene['Valor'] = pd.to_numeric(df_precp_ene['Valor'], errors='coerce')

In [151]:
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [152]:
df_precp_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_feb_23.csv', sep=';', encoding='utf-8')
df_precp_feb.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-02-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-02-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-02-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-02-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-02-05  Precipitación  Noroeste  Casa de Campo  0,00

In [153]:
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [154]:
df_precp_feb["Fecha"] = pd.to_datetime(df_precp_feb["Fecha"])
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [155]:
df_precp_feb['Valor'] = df_precp_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_feb['Valor'] = df_precp_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_feb.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-02-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-02-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-02-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-02-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-02-05  Precipitación  Noroeste  Casa de Campo  0.00

In [156]:
df_precp_feb['Valor'] = pd.to_numeric(df_precp_feb['Valor'], errors='coerce')

In [157]:
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [158]:
df_precp_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_mar_23.csv', sep=';', encoding='utf-8')
df_precp_mar.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-03-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-03-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-03-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-03-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-03-05  Precipitación  Noroeste  Casa de Campo  0,13

In [159]:
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [160]:
df_precp_mar["Fecha"] = pd.to_datetime(df_precp_mar["Fecha"])
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [161]:
df_precp_mar['Valor'] = df_precp_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_mar['Valor'] = df_precp_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_mar.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-03-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-03-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-03-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-03-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-03-05  Precipitación  Noroeste  Casa de Campo  0.13

In [162]:
df_precp_mar['Valor'] = pd.to_numeric(df_precp_mar['Valor'], errors='coerce')

In [163]:
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [164]:
df_precp_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_abr_23.csv', sep=';', encoding='utf-8')
df_precp_abr.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-04-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-04-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-04-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-04-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-04-05  Precipitación  Noroeste  Casa de Campo  0,00

In [165]:
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [166]:
df_precp_abr["Fecha"] = pd.to_datetime(df_precp_abr["Fecha"], errors="coerce")
df_precp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [167]:
df_precp_abr['Valor'] = df_precp_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_abr['Valor'] = df_precp_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_abr.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-04-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-04-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-04-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-04-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-04-05  Precipitación  Noroeste  Casa de Campo  0.00

In [168]:
df_precp_abr['Valor'] = pd.to_numeric(df_precp_abr['Valor'], errors='coerce')

In [169]:
df_precp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [170]:
df_precp_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_may_23.csv', sep=';', encoding='utf-8')
df_precp_may.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-05-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-05-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-05-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-05-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-05-05  Precipitación  Noroeste  Casa de Campo  0,00

In [171]:
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [172]:
df_precp_may["Fecha"] = pd.to_datetime(df_precp_may["Fecha"])
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [173]:
df_precp_may['Valor'] = df_precp_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_may['Valor'] = df_precp_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_may.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-05-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-05-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-05-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-05-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-05-05  Precipitación  Noroeste  Casa de Campo  0.00

In [174]:
df_precp_may['Valor'] = pd.to_numeric(df_precp_may['Valor'], errors='coerce')

In [175]:
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [176]:
df_precp_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_jun_23.csv', sep=';', encoding='utf-8')
df_precp_jun.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-06-01  Precipitación  Noroeste  Casa de Campo  0,09
1  2023-06-02  Precipitación  Noroeste  Casa de Campo  0,12
2  2023-06-03  Precipitación  Noroeste  Casa de Campo  0,47
3  2023-06-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-06-05  Precipitación  Noroeste  Casa de Campo  0,00

In [177]:
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [178]:
df_precp_jun["Fecha"] = pd.to_datetime(df_precp_jun["Fecha"])
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [179]:
df_precp_jun['Valor'] = df_precp_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_jun['Valor'] = df_precp_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_jun.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-06-01  Precipitación  Noroeste  Casa de Campo  0.09
1 2023-06-02  Precipitación  Noroeste  Casa de Campo  0.12
2 2023-06-03  Precipitación  Noroeste  Casa de Campo  0.47
3 2023-06-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-06-05  Precipitación  Noroeste  Casa de Campo  0.00

In [180]:
df_precp_jun['Valor'] = pd.to_numeric(df_precp_jun['Valor'], errors='coerce')

In [181]:
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [182]:
df_precp_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_jul_23.csv', sep=';', encoding='utf-8')
df_precp_jul.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-07-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-07-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-07-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-07-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-07-05  Precipitación  Noroeste  Casa de Campo  0,00

In [183]:
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [184]:
df_precp_jul["Fecha"] = pd.to_datetime(df_precp_jul["Fecha"])
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [185]:
df_precp_jul['Valor'] = df_precp_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_jul['Valor'] = df_precp_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_jul.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-07-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-07-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-07-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-07-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-07-05  Precipitación  Noroeste  Casa de Campo  0.00

In [186]:
df_precp_jul['Valor'] = pd.to_numeric(df_precp_jul['Valor'], errors='coerce')

In [187]:
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [188]:
df_precp_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_ago_23.csv', sep=';', encoding='utf-8')
df_precp_ago.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-08-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-08-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-08-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-08-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-08-05  Precipitación  Noroeste  Casa de Campo  0,00

In [189]:
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [190]:
df_precp_ago["Fecha"] = pd.to_datetime(df_precp_ago["Fecha"])
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [191]:
df_precp_ago['Valor'] = df_precp_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_ago['Valor'] = df_precp_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_ago.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-08-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-08-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-08-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-08-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-08-05  Precipitación  Noroeste  Casa de Campo  0.00

In [192]:
df_precp_ago['Valor'] = pd.to_numeric(df_precp_ago['Valor'], errors='coerce')

In [193]:
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [194]:
df_precp_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_sep_23.csv', sep=';', encoding='utf-8')
df_precp_sep.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-09-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-09-02  Precipitación  Noroeste  Casa de Campo  0,48
2  2023-09-03  Precipitación  Noroeste  Casa de Campo  0,93
3  2023-09-04  Precipitación  Noroeste  Casa de Campo  1,92
4  2023-09-05  Precipitación  Noroeste  Casa de Campo  0,00

In [195]:
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [196]:
df_precp_sep["Fecha"] = pd.to_datetime(df_precp_sep["Fecha"])
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [197]:
df_precp_sep['Valor'] = df_precp_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_sep['Valor'] = df_precp_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_sep.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-09-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-09-02  Precipitación  Noroeste  Casa de Campo  0.48
2 2023-09-03  Precipitación  Noroeste  Casa de Campo  0.93
3 2023-09-04  Precipitación  Noroeste  Casa de Campo  1.92
4 2023-09-05  Precipitación  Noroeste  Casa de Campo  0.00

In [198]:
df_precp_sep['Valor'] = pd.to_numeric(df_precp_sep['Valor'], errors='coerce')

In [199]:
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [200]:
df_precp_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_oct_23.csv', sep=';', encoding='utf-8')
df_precp_oct.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-10-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-10-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-10-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-10-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2023-10-05  Precipitación  Noroeste  Casa de Campo  0,00

In [201]:
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [202]:
df_precp_oct["Fecha"] = pd.to_datetime(df_precp_oct["Fecha"])
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [203]:
df_precp_oct['Valor'] = df_precp_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_oct['Valor'] = df_precp_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_oct.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-10-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-10-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-10-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-10-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2023-10-05  Precipitación  Noroeste  Casa de Campo  0.00

In [204]:
df_precp_oct['Valor'] = pd.to_numeric(df_precp_oct['Valor'], errors='coerce')

In [205]:
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [206]:
df_precp_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_nov_23.csv', sep=';', encoding='utf-8')
df_precp_nov.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-11-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2023-11-02  Precipitación  Noroeste  Casa de Campo  0,24
2  2023-11-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-11-04  Precipitación  Noroeste  Casa de Campo  0,03
4  2023-11-05  Precipitación  Noroeste  Casa de Campo  0,00

In [207]:
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [208]:
df_precp_nov["Fecha"] = pd.to_datetime(df_precp_nov["Fecha"])
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [209]:
df_precp_nov['Valor'] = df_precp_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_nov['Valor'] = df_precp_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_nov.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-11-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2023-11-02  Precipitación  Noroeste  Casa de Campo  0.24
2 2023-11-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-11-04  Precipitación  Noroeste  Casa de Campo  0.03
4 2023-11-05  Precipitación  Noroeste  Casa de Campo  0.00

In [210]:
df_precp_nov['Valor'] = pd.to_numeric(df_precp_nov['Valor'], errors='coerce')

In [211]:
df_nulos = df_precp_nov[df_precp_nov.isnull().any(axis=1)]
print(df_nulos)

        Fecha       Magnitud      Zona       Estación  Valor
22 2023-11-23  Precipitación  Noroeste  Casa de Campo    NaN
23 2023-11-24  Precipitación  Noroeste  Casa de Campo    NaN

In [212]:
df_precp_nov['Valor'] = df_precp_nov['Valor'].fillna(df_precp_nov['Valor'].mean())
df_precp_nov.head(25)

        Fecha       Magnitud      Zona       Estación     Valor
0  2023-11-01  Precipitación  Noroeste  Casa de Campo  0.000000
1  2023-11-02  Precipitación  Noroeste  Casa de Campo  0.240000
2  2023-11-03  Precipitación  Noroeste  Casa de Campo  0.000000
3  2023-11-04  Precipitación  Noroeste  Casa de Campo  0.030000
4  2023-11-05  Precipitación  Noroeste  Casa de Campo  0.000000
5  2023-11-06  Precipitación  Noroeste  Casa de Campo  0.000000
6  2023-11-07  Precipitación  Noroeste  Casa de Campo  0.000000
7  2023-11-08  Precipitación  Noroeste  Casa de Campo  0.000000
8  2023-11-09  Precipitación  Noroeste  Casa de Campo  0.010000
9  2023-11-10  Precipitación  Noroeste  Casa de Campo  0.020000
10 2023-11-11  Precipitación  Noroeste  Casa de Campo  0.000000
11 2023-11-12  Precipitación  Noroeste  Casa de Campo  0.000000
12 2023-11-13  Precipitación  Noroeste  Casa de Campo  0.000000
13 2023-11-14  Precipitación  Noroeste  Casa de Campo  0.000000
14 2023-11-15  Precipitación  Noroeste  Casa de Campo  0.000000
15 2023-11-16  Precipitación  Noroeste  Casa de Campo  0.000000
16 2023-11-17  Precipitación  Noroeste  Casa de Campo  0.000000
17 2023-11-18  Precipitación  Noroeste  Casa de Campo  0.000000
18 2023-11-19  Precipitación  Noroeste  Casa de Campo  0.000000
19 2023-11-20  Precipitación  Noroeste  Casa de Campo  0.000000
20 2023-11-21  Precipitación  Noroeste  Casa de Campo  0.000000
21 2023-11-22  Precipitación  Noroeste  Casa de Campo  0.000000
22 2023-11-23  Precipitación  Noroeste  Casa de Campo  0.032143
23 2023-11-24  Precipitación  Noroeste  Casa de Campo  0.032143
24 2023-11-25  Precipitación  Noroeste  Casa de Campo  0.000000

In [213]:
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [214]:
df_precp_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/precp_dic_23.csv', sep=';', encoding='utf-8')
df_precp_dic.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2023-12-01  Precipitación  Noroeste  Casa de Campo  0,54
1  2023-12-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2023-12-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2023-12-04  Precipitación  Noroeste  Casa de Campo  0,03
4  2023-12-05  Precipitación  Noroeste  Casa de Campo  0,00

In [215]:
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [216]:
df_precp_dic["Fecha"] = pd.to_datetime(df_precp_dic["Fecha"])
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [217]:
df_precp_dic['Valor'] = df_precp_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_dic['Valor'] = df_precp_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_dic.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2023-12-01  Precipitación  Noroeste  Casa de Campo  0.54
1 2023-12-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2023-12-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2023-12-04  Precipitación  Noroeste  Casa de Campo  0.03
4 2023-12-05  Precipitación  Noroeste  Casa de Campo  0.00

In [218]:
df_precp_dic['Valor'] = pd.to_numeric(df_precp_dic['Valor'], errors='coerce')

In [219]:
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [220]:
df_precp = pd.concat([df_precp_ene, df_precp_feb, df_precp_mar, df_precp_abr, df_precp_may, df_precp_jun, df_precp_jul, df_precp_ago, df_precp_sep, df_precp_oct, df_precp_nov, df_precp_dic ],axis=0, ignore_index=True)
df_precp

         Fecha       Magnitud      Zona       Estación  Valor
0   2023-01-01  Precipitación  Noroeste  Casa de Campo    0.0
1   2023-01-02  Precipitación  Noroeste  Casa de Campo    0.0
2   2023-01-03  Precipitación  Noroeste  Casa de Campo    0.0
3   2023-01-04  Precipitación  Noroeste  Casa de Campo    0.0
4   2023-01-05  Precipitación  Noroeste  Casa de Campo    0.0
..         ...            ...       ...            ...    ...
360 2023-12-27  Precipitación  Noroeste  Casa de Campo    0.0
361 2023-12-28  Precipitación  Noroeste  Casa de Campo    0.0
362 2023-12-29  Precipitación  Noroeste  Casa de Campo    0.0
363 2023-12-30  Precipitación  Noroeste  Casa de Campo    0.0
364 2023-12-31  Precipitación  Noroeste  Casa de Campo    0.0

[365 rows x 5 columns]

In [221]:
df_precp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     365 non-null    datetime64[ns]
 1   Magnitud  365 non-null    object
 2   Zona      365 non-null    object
 3   Estación  365 non-null    object
 4   Valor     365 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 14.4+ KB

In [222]:
df_precp.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [223]:
df_precp.rename(columns={'Valor': 'Precipitaciones'}, inplace=True)
df_precp.head()

       Fecha  Precipitaciones
0 2023-01-01              0.0
1 2023-01-02              0.0
2 2023-01-03              0.0
3 2023-01-04              0.0
4 2023-01-05              0.0

In [224]:
df_precp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            365 non-null    datetime64[ns]
 1   Precipitaciones  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de radiación solar diaria año 2023

In [225]:
df_radia_solar_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_ene_23.csv', sep=';', encoding='utf-8')
df_radia_solar_ene.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-01-01  Radiación solar  Noroeste  Casa de Campo     82
1  2023-01-02  Radiación solar  Noroeste  Casa de Campo     75
2  2023-01-03  Radiación solar  Noroeste  Casa de Campo    101
3  2023-01-04  Radiación solar  Noroeste  Casa de Campo     99
4  2023-01-05  Radiación solar  Noroeste  Casa de Campo    100

In [226]:
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [227]:
df_radia_solar_ene['Valor'] = df_radia_solar_ene['Valor'].astype(float)

In [228]:
df_radia_solar_ene["Fecha"] = pd.to_datetime(df_radia_solar_ene["Fecha"])
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [229]:
df_radia_solar_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_feb_23.csv', sep=';', encoding='utf-8')
df_radia_solar_feb.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-02-01  Radiación solar  Noroeste  Casa de Campo    138
1  2023-02-02  Radiación solar  Noroeste  Casa de Campo    136
2  2023-02-03  Radiación solar  Noroeste  Casa de Campo    141
3  2023-02-04  Radiación solar  Noroeste  Casa de Campo    144
4  2023-02-05  Radiación solar  Noroeste  Casa de Campo    148

In [230]:
df_radia_solar_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

In [231]:
df_radia_solar_feb['Valor'] = df_radia_solar_feb['Valor'].astype(float)

In [232]:
df_radia_solar_feb["Fecha"] = pd.to_datetime(df_radia_solar_feb["Fecha"])
df_radia_solar_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [233]:
df_radia_solar_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_mar_23.csv', sep=';', encoding='utf-8')
df_radia_solar_mar.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-03-01  Radiación solar  Noroeste  Casa de Campo    161
1  2023-03-02  Radiación solar  Noroeste  Casa de Campo    197
2  2023-03-03  Radiación solar  Noroeste  Casa de Campo    197
3  2023-03-04  Radiación solar  Noroeste  Casa de Campo    204
4  2023-03-05  Radiación solar  Noroeste  Casa de Campo     65

In [234]:
df_radia_solar_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [235]:
df_radia_solar_mar['Valor'] = df_radia_solar_mar['Valor'].astype(float)

In [236]:
df_radia_solar_mar["Fecha"] = pd.to_datetime(df_radia_solar_mar["Fecha"])
df_radia_solar_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [237]:
df_radia_solar_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_abr_23.csv', sep=';', encoding='utf-8')
df_radia_solar_abr.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-04-01  Radiación solar  Noroeste  Casa de Campo    242
1  2023-04-02  Radiación solar  Noroeste  Casa de Campo    280
2  2023-04-03  Radiación solar  Noroeste  Casa de Campo    265
3  2023-04-04  Radiación solar  Noroeste  Casa de Campo    291
4  2023-04-05  Radiación solar  Noroeste  Casa de Campo    291

In [238]:
df_radia_solar_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [239]:
df_radia_solar_abr['Valor'] = df_radia_solar_abr['Valor'].astype(float)

In [240]:
df_radia_solar_abr["Fecha"] = pd.to_datetime(df_radia_solar_abr["Fecha"])
df_radia_solar_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [241]:
df_radia_solar_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_may_23.csv', sep=';', encoding='utf-8')
df_radia_solar_may.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-05-01  Radiación solar  Noroeste  Casa de Campo    310
1  2023-05-02  Radiación solar  Noroeste  Casa de Campo    283
2  2023-05-03  Radiación solar  Noroeste  Casa de Campo    276
3  2023-05-04  Radiación solar  Noroeste  Casa de Campo    325
4  2023-05-05  Radiación solar  Noroeste  Casa de Campo    327

In [242]:
df_radia_solar_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [243]:
df_radia_solar_may['Valor'] = df_radia_solar_may['Valor'].astype(float)

In [244]:
df_radia_solar_may["Fecha"] = pd.to_datetime(df_radia_solar_may["Fecha"])
df_radia_solar_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [245]:
df_radia_solar_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_jun_23.csv', sep=';', encoding='utf-8')
df_radia_solar_jun.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-06-01  Radiación solar  Noroeste  Casa de Campo    237
1  2023-06-02  Radiación solar  Noroeste  Casa de Campo    254
2  2023-06-03  Radiación solar  Noroeste  Casa de Campo    315
3  2023-06-04  Radiación solar  Noroeste  Casa de Campo    296
4  2023-06-05  Radiación solar  Noroeste  Casa de Campo    266

In [246]:
df_radia_solar_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [247]:
df_radia_solar_jun['Valor'] = df_radia_solar_jun['Valor'].astype(float)

In [248]:
df_radia_solar_jun["Fecha"] = pd.to_datetime(df_radia_solar_jun["Fecha"])
df_radia_solar_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [249]:
df_radia_solar_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_jul_23.csv', sep=';', encoding='utf-8')
df_radia_solar_jul.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-07-01  Radiación solar  Noroeste  Casa de Campo    345
1  2023-07-02  Radiación solar  Noroeste  Casa de Campo    309
2  2023-07-03  Radiación solar  Noroeste  Casa de Campo    344
3  2023-07-04  Radiación solar  Noroeste  Casa de Campo    358
4  2023-07-05  Radiación solar  Noroeste  Casa de Campo    281

In [250]:
df_radia_solar_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [251]:
df_radia_solar_jul['Valor'] = df_radia_solar_jul['Valor'].astype(float)

In [252]:
df_radia_solar_jul["Fecha"] = pd.to_datetime(df_radia_solar_jul["Fecha"])
df_radia_solar_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [253]:
df_radia_solar_ago= pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_ago_23.csv', sep=';', encoding='utf-8')
df_radia_solar_ago.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-08-01  Radiación solar  Noroeste  Casa de Campo    331
1  2023-08-02  Radiación solar  Noroeste  Casa de Campo    331
2  2023-08-03  Radiación solar  Noroeste  Casa de Campo    330
3  2023-08-04  Radiación solar  Noroeste  Casa de Campo    375
4  2023-08-05  Radiación solar  Noroeste  Casa de Campo    328

In [254]:
df_radia_solar_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [255]:
df_radia_solar_ago['Valor'] = df_radia_solar_ago['Valor'].astype(float)

In [256]:
df_radia_solar_ago["Fecha"] = pd.to_datetime(df_radia_solar_ago["Fecha"])
df_radia_solar_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [257]:
df_radia_solar_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_sept_23.csv', sep=';', encoding='utf-8')
df_radia_solar_sep.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-09-01  Radiación solar  Noroeste  Casa de Campo    226
1  2023-09-02  Radiación solar  Noroeste  Casa de Campo     63
2  2023-09-03  Radiación solar  Noroeste  Casa de Campo     41
3  2023-09-04  Radiación solar  Noroeste  Casa de Campo    126
4  2023-09-05  Radiación solar  Noroeste  Casa de Campo    244

In [258]:
df_radia_solar_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [259]:
df_radia_solar_sep['Valor'] = df_radia_solar_sep['Valor'].astype(float)

In [260]:
df_radia_solar_sep["Fecha"] = pd.to_datetime(df_radia_solar_sep["Fecha"])
df_radia_solar_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [261]:
df_radia_solar_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_oct_23.csv', sep=';', encoding='utf-8')
df_radia_solar_oct.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-10-01  Radiación solar  Noroeste  Casa de Campo    214
1  2023-10-02  Radiación solar  Noroeste  Casa de Campo    208
2  2023-10-03  Radiación solar  Noroeste  Casa de Campo    189
3  2023-10-04  Radiación solar  Noroeste  Casa de Campo    196
4  2023-10-05  Radiación solar  Noroeste  Casa de Campo    195

In [262]:
df_radia_solar_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [263]:
df_radia_solar_oct['Valor'] = df_radia_solar_oct['Valor'].astype(float)

In [264]:
df_radia_solar_oct["Fecha"] = pd.to_datetime(df_radia_solar_oct["Fecha"])
df_radia_solar_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [265]:
df_radia_solar_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_nov_23.csv', sep=';', encoding='utf-8')
df_radia_solar_nov.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-11-01  Radiación solar  Noroeste  Casa de Campo   46.0
1  2023-11-02  Radiación solar  Noroeste  Casa de Campo   83.0
2  2023-11-03  Radiación solar  Noroeste  Casa de Campo   81.0
3  2023-11-04  Radiación solar  Noroeste  Casa de Campo   44.0
4  2023-11-05  Radiación solar  Noroeste  Casa de Campo  132.0

In [266]:
df_radia_solar_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [267]:
df_radia_solar_nov["Fecha"] = pd.to_datetime(df_radia_solar_nov["Fecha"])
df_radia_solar_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [268]:
df_nulos = df_radia_solar_nov[df_radia_solar_nov.isnull().any(axis=1)]
print(df_nulos)

        Fecha         Magnitud      Zona       Estación  Valor
22 2023-11-23  Radiación solar  Noroeste  Casa de Campo    NaN
23 2023-11-24  Radiación solar  Noroeste  Casa de Campo    NaN

In [269]:
df_radia_solar_nov['Valor'] = df_radia_solar_nov['Valor'].fillna(df_radia_solar_nov['Valor'].mean())
df_radia_solar_nov.head()

       Fecha         Magnitud      Zona       Estación  Valor
0 2023-11-01  Radiación solar  Noroeste  Casa de Campo   46.0
1 2023-11-02  Radiación solar  Noroeste  Casa de Campo   83.0
2 2023-11-03  Radiación solar  Noroeste  Casa de Campo   81.0
3 2023-11-04  Radiación solar  Noroeste  Casa de Campo   44.0
4 2023-11-05  Radiación solar  Noroeste  Casa de Campo  132.0

In [270]:
df_radia_solar_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [271]:
df_radia_solar_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/radia_solar_dic_23.csv', sep=';', encoding='utf-8')
df_radia_solar_dic.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-12-01  Radiación solar  Noroeste  Casa de Campo     94
1  2023-12-02  Radiación solar  Noroeste  Casa de Campo    107
2  2023-12-03  Radiación solar  Noroeste  Casa de Campo     92
3  2023-12-04  Radiación solar  Noroeste  Casa de Campo     57
4  2023-12-05  Radiación solar  Noroeste  Casa de Campo     54

In [272]:
df_radia_solar_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [273]:
df_radia_solar_dic['Valor'] = df_radia_solar_dic['Valor'].astype(float)

In [274]:
df_radia_solar_dic["Fecha"] = pd.to_datetime(df_radia_solar_dic["Fecha"])
df_radia_solar_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [275]:
df_radia_solar = pd.concat([df_radia_solar_ene, df_radia_solar_feb, df_radia_solar_mar, df_radia_solar_abr, df_radia_solar_may, df_radia_solar_jun, df_radia_solar_jul, df_radia_solar_ago, df_radia_solar_sep, df_radia_solar_oct, df_radia_solar_nov, df_radia_solar_dic ],axis=0, ignore_index=True)
df_radia_solar.head(13)

        Fecha         Magnitud      Zona       Estación  Valor
0  2023-01-01  Radiación solar  Noroeste  Casa de Campo   82.0
1  2023-01-02  Radiación solar  Noroeste  Casa de Campo   75.0
2  2023-01-03  Radiación solar  Noroeste  Casa de Campo  101.0
3  2023-01-04  Radiación solar  Noroeste  Casa de Campo   99.0
4  2023-01-05  Radiación solar  Noroeste  Casa de Campo  100.0
5  2023-01-06  Radiación solar  Noroeste  Casa de Campo  101.0
6  2023-01-07  Radiación solar  Noroeste  Casa de Campo   22.0
7  2023-01-08  Radiación solar  Noroeste  Casa de Campo   43.0
8  2023-01-09  Radiación solar  Noroeste  Casa de Campo  101.0
9  2023-01-10  Radiación solar  Noroeste  Casa de Campo  101.0
10 2023-01-11  Radiación solar  Noroeste  Casa de Campo   38.0
11 2023-01-12  Radiación solar  Noroeste  Casa de Campo  109.0
12 2023-01-13  Radiación solar  Noroeste  Casa de Campo   95.0

In [276]:
df_radia_solar.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [277]:
df_radia_solar.rename(columns={'Valor': 'Radiación_Solar'}, inplace=True)
df_radia_solar

         Fecha  Radiación_Solar
0   2023-01-01             82.0
1   2023-01-02             75.0
2   2023-01-03            101.0
3   2023-01-04             99.0
4   2023-01-05            100.0
..         ...              ...
360 2023-12-27            101.0
361 2023-12-28             54.0
362 2023-12-29             38.0
363 2023-12-30             95.0
364 2023-12-31             56.0

[365 rows x 2 columns]

In [278]:
df_radia_solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            365 non-null    datetime64[ns]
 1   Radiación_Solar  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de humedad relativa diaria año 2023

In [279]:
df_hum_rel_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_ene_23.csv', sep=';', encoding='utf-8')
df_hum_rel_ene.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-01-01  Humedad relativa  Noroeste  Casa de Campo     66
1  2023-01-02  Humedad relativa  Noroeste  Casa de Campo     80
2  2023-01-03  Humedad relativa  Noroeste  Casa de Campo     83
3  2023-01-04  Humedad relativa  Noroeste  Casa de Campo     79
4  2023-01-05  Humedad relativa  Noroeste  Casa de Campo     77

In [280]:
df_hum_rel_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [281]:
df_hum_rel_ene["Fecha"] = pd.to_datetime(df_radia_solar_dic["Fecha"])
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [282]:
df_hum_rel_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_feb_23.csv', sep=';', encoding='utf-8')
df_hum_rel_feb.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-02-01  Humedad relativa  Noroeste  Casa de Campo     67
1  2023-02-02  Humedad relativa  Noroeste  Casa de Campo     64
2  2023-02-03  Humedad relativa  Noroeste  Casa de Campo     60
3  2023-02-04  Humedad relativa  Noroeste  Casa de Campo     56
4  2023-02-05  Humedad relativa  Noroeste  Casa de Campo     47

In [283]:
df_hum_rel_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

In [284]:
df_hum_rel_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_mar_23.csv', sep=';', encoding='utf-8')
df_hum_rel_mar.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-03-01  Humedad relativa  Noroeste  Casa de Campo     53
1  2023-03-02  Humedad relativa  Noroeste  Casa de Campo     56
2  2023-03-03  Humedad relativa  Noroeste  Casa de Campo     57
3  2023-03-04  Humedad relativa  Noroeste  Casa de Campo     59
4  2023-03-05  Humedad relativa  Noroeste  Casa de Campo     79

In [285]:
df_hum_rel_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [286]:
df_hum_rel_mar["Fecha"] = pd.to_datetime(df_hum_rel_mar["Fecha"])
df_hum_rel_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [287]:
df_hum_rel_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_abr_23.csv', sep=';', encoding='utf-8')
df_hum_rel_abr.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-04-01  Humedad relativa  Noroeste  Casa de Campo     51
1  2023-04-02  Humedad relativa  Noroeste  Casa de Campo     41
2  2023-04-03  Humedad relativa  Noroeste  Casa de Campo     39
3  2023-04-04  Humedad relativa  Noroeste  Casa de Campo     28
4  2023-04-05  Humedad relativa  Noroeste  Casa de Campo     21

In [288]:
df_hum_rel_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [289]:
df_hum_rel_abr["Fecha"] = pd.to_datetime(df_hum_rel_abr["Fecha"])
df_hum_rel_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [290]:
df_hum_rel_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_may_23.csv', sep=';', encoding='utf-8')
df_hum_rel_may.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-05-01  Humedad relativa  Noroeste  Casa de Campo     38
1  2023-05-02  Humedad relativa  Noroeste  Casa de Campo     29
2  2023-05-03  Humedad relativa  Noroeste  Casa de Campo     32
3  2023-05-04  Humedad relativa  Noroeste  Casa de Campo     41
4  2023-05-05  Humedad relativa  Noroeste  Casa de Campo     37

In [291]:
df_hum_rel_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [292]:
df_hum_rel_may["Fecha"] = pd.to_datetime(df_hum_rel_may["Fecha"])
df_hum_rel_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [293]:
df_hum_rel_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_jun_23.csv', sep=';', encoding='utf-8')
df_hum_rel_jun.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-06-01  Humedad relativa  Noroeste  Casa de Campo     70
1  2023-06-02  Humedad relativa  Noroeste  Casa de Campo     73
2  2023-06-03  Humedad relativa  Noroeste  Casa de Campo     70
3  2023-06-04  Humedad relativa  Noroeste  Casa de Campo     63
4  2023-06-05  Humedad relativa  Noroeste  Casa de Campo     65

In [294]:
df_hum_rel_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [295]:
df_hum_rel_jun["Fecha"] = pd.to_datetime(df_hum_rel_jun["Fecha"])
df_hum_rel_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [296]:
df_hum_rel_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_jul_23.csv', sep=';', encoding='utf-8')
df_hum_rel_jul.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-07-01  Humedad relativa  Noroeste  Casa de Campo     40
1  2023-07-02  Humedad relativa  Noroeste  Casa de Campo     43
2  2023-07-03  Humedad relativa  Noroeste  Casa de Campo     40
3  2023-07-04  Humedad relativa  Noroeste  Casa de Campo     37
4  2023-07-05  Humedad relativa  Noroeste  Casa de Campo     30

In [297]:
df_hum_rel_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [298]:
df_hum_rel_jul["Fecha"] = pd.to_datetime(df_hum_rel_jul["Fecha"])
df_hum_rel_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [299]:
df_hum_rel_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_ago_23.csv', sep=';', encoding='utf-8')
df_hum_rel_ago.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-08-01  Humedad relativa  Noroeste  Casa de Campo     26
1  2023-08-02  Humedad relativa  Noroeste  Casa de Campo     34
2  2023-08-03  Humedad relativa  Noroeste  Casa de Campo     38
3  2023-08-04  Humedad relativa  Noroeste  Casa de Campo     24
4  2023-08-05  Humedad relativa  Noroeste  Casa de Campo     34

In [300]:
df_hum_rel_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [301]:
df_hum_rel_ago["Fecha"] = pd.to_datetime(df_hum_rel_ago["Fecha"])
df_hum_rel_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [302]:
df_hum_rel_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_sep_23.csv', sep=';', encoding='utf-8')
df_hum_rel_sep.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-09-01  Humedad relativa  Noroeste  Casa de Campo     37
1  2023-09-02  Humedad relativa  Noroeste  Casa de Campo     72
2  2023-09-03  Humedad relativa  Noroeste  Casa de Campo     93
3  2023-09-04  Humedad relativa  Noroeste  Casa de Campo     86
4  2023-09-05  Humedad relativa  Noroeste  Casa de Campo     69

In [303]:
df_hum_rel_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [304]:
df_hum_rel_sep["Fecha"] = pd.to_datetime(df_hum_rel_sep["Fecha"])
df_hum_rel_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [305]:
df_hum_rel_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_oct_23.csv', sep=';', encoding='utf-8')
df_hum_rel_oct.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-10-01  Humedad relativa  Noroeste  Casa de Campo     56
1  2023-10-02  Humedad relativa  Noroeste  Casa de Campo     51
2  2023-10-03  Humedad relativa  Noroeste  Casa de Campo     56
3  2023-10-04  Humedad relativa  Noroeste  Casa de Campo     60
4  2023-10-05  Humedad relativa  Noroeste  Casa de Campo     60

In [306]:
df_hum_rel_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [307]:
df_hum_rel_oct["Fecha"] = pd.to_datetime(df_hum_rel_oct["Fecha"])
df_hum_rel_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [308]:
df_hum_rel_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_nov_23.csv', sep=';', encoding='utf-8')
df_hum_rel_nov.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-11-01  Humedad relativa  Noroeste  Casa de Campo   96.0
1  2023-11-02  Humedad relativa  Noroeste  Casa de Campo   82.0
2  2023-11-03  Humedad relativa  Noroeste  Casa de Campo   85.0
3  2023-11-04  Humedad relativa  Noroeste  Casa de Campo   92.0
4  2023-11-05  Humedad relativa  Noroeste  Casa de Campo   81.0

In [309]:
df_hum_rel_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [310]:
df_nulos = df_hum_rel_nov[df_hum_rel_nov.isnull().any(axis=1)]
print(df_nulos)

         Fecha          Magnitud      Zona       Estación  Valor
22  2023-11-23  Humedad relativa  Noroeste  Casa de Campo    NaN
23  2023-11-24  Humedad relativa  Noroeste  Casa de Campo    NaN

In [311]:
df_hum_rel_nov['Valor'] = df_hum_rel_nov['Valor'].fillna(df_hum_rel_nov['Valor'].mean())
df_hum_rel_nov.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-11-01  Humedad relativa  Noroeste  Casa de Campo   96.0
1  2023-11-02  Humedad relativa  Noroeste  Casa de Campo   82.0
2  2023-11-03  Humedad relativa  Noroeste  Casa de Campo   85.0
3  2023-11-04  Humedad relativa  Noroeste  Casa de Campo   92.0
4  2023-11-05  Humedad relativa  Noroeste  Casa de Campo   81.0

In [312]:
df_hum_rel_nov["Fecha"] = pd.to_datetime(df_hum_rel_nov["Fecha"])
df_hum_rel_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [313]:
df_hum_rel_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/hum_rel_dic_23.csv', sep=';', encoding='utf-8')
df_hum_rel_dic.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2023-12-01  Humedad relativa  Noroeste  Casa de Campo     77
1  2023-12-02  Humedad relativa  Noroeste  Casa de Campo     68
2  2023-12-03  Humedad relativa  Noroeste  Casa de Campo     86
3  2023-12-04  Humedad relativa  Noroeste  Casa de Campo     91
4  2023-12-05  Humedad relativa  Noroeste  Casa de Campo     74

In [314]:
df_hum_rel_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [315]:
df_hum_rel_dic["Fecha"] = pd.to_datetime(df_hum_rel_dic["Fecha"])
df_hum_rel_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [316]:
df_hum_rel = pd.concat([df_hum_rel_ene, df_hum_rel_feb, df_hum_rel_mar, df_hum_rel_abr, df_hum_rel_may, df_hum_rel_jun, df_hum_rel_jul, df_hum_rel_ago, df_hum_rel_sep, df_hum_rel_oct, df_hum_rel_nov, df_hum_rel_dic ],axis=0, ignore_index=True)
df_hum_rel

                   Fecha          Magnitud      Zona       Estación  Valor
0    2023-12-01 00:00:00  Humedad relativa  Noroeste  Casa de Campo   66.0
1    2023-12-02 00:00:00  Humedad relativa  Noroeste  Casa de Campo   80.0
2    2023-12-03 00:00:00  Humedad relativa  Noroeste  Casa de Campo   83.0
3    2023-12-04 00:00:00  Humedad relativa  Noroeste  Casa de Campo   79.0
4    2023-12-05 00:00:00  Humedad relativa  Noroeste  Casa de Campo   77.0
..                   ...               ...       ...            ...    ...
360  2023-12-27 00:00:00  Humedad relativa  Noroeste  Casa de Campo   82.0
361  2023-12-28 00:00:00  Humedad relativa  Noroeste  Casa de Campo   86.0
362  2023-12-29 00:00:00  Humedad relativa  Noroeste  Casa de Campo   88.0
363  2023-12-30 00:00:00  Humedad relativa  Noroeste  Casa de Campo   82.0
364  2023-12-31 00:00:00  Humedad relativa  Noroeste  Casa de Campo   91.0

[365 rows x 5 columns]

In [317]:
df_hum_rel.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [318]:
df_hum_rel.rename(columns={'Valor': 'Humedad_Relativa'}, inplace=True)
df_hum_rel.head()

                 Fecha  Humedad_Relativa
0  2023-12-01 00:00:00              66.0
1  2023-12-02 00:00:00              80.0
2  2023-12-03 00:00:00              83.0
3  2023-12-04 00:00:00              79.0
4  2023-12-05 00:00:00              77.0

In [319]:
df_hum_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             365 non-null    object
 1   Humedad_Relativa  365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

## Datasets de la velocidad del viento diaria año 2023

In [320]:
df_velc_v_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_ene_23.csv', sep=';', encoding='utf-8')
df_velc_v_ene.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-01-01  Velocidad del viento  Noroeste  Casa de Campo   0,8
1  2023-01-02  Velocidad del viento  Noroeste  Casa de Campo   1,0
2  2023-01-03  Velocidad del viento  Noroeste  Casa de Campo   0,7
3  2023-01-04  Velocidad del viento  Noroeste  Casa de Campo   0,6
4  2023-01-05  Velocidad del viento  Noroeste  Casa de Campo   0,7

In [321]:
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [322]:
df_velc_v_ene["Fecha"] = pd.to_datetime(df_velc_v_ene["Fecha"])
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [323]:
df_velc_v_ene['Valor'] = df_velc_v_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_ene['Valor'] = df_velc_v_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_ene.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-01-01  Velocidad del viento  Noroeste  Casa de Campo   0.8
1 2023-01-02  Velocidad del viento  Noroeste  Casa de Campo   1.0
2 2023-01-03  Velocidad del viento  Noroeste  Casa de Campo   0.7
3 2023-01-04  Velocidad del viento  Noroeste  Casa de Campo   0.6
4 2023-01-05  Velocidad del viento  Noroeste  Casa de Campo   0.7

In [324]:
df_velc_v_ene['Valor'] = pd.to_numeric(df_velc_v_ene['Valor'], errors='coerce')

In [325]:
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [326]:
df_velc_v_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_feb_23.csv', sep=';', encoding='utf-8')
df_velc_v_feb.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-02-01  Velocidad del viento  Noroeste  Casa de Campo   0,9
1  2023-02-02  Velocidad del viento  Noroeste  Casa de Campo   0,7
2  2023-02-03  Velocidad del viento  Noroeste  Casa de Campo   0,7
3  2023-02-04  Velocidad del viento  Noroeste  Casa de Campo   0,7
4  2023-02-05  Velocidad del viento  Noroeste  Casa de Campo   0,8

In [327]:
df_velc_v_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [328]:
df_velc_v_feb["Fecha"] = pd.to_datetime(df_velc_v_feb["Fecha"])
df_velc_v_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [329]:
df_velc_v_feb['Valor'] = df_velc_v_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_feb['Valor'] = df_velc_v_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_feb.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-02-01  Velocidad del viento  Noroeste  Casa de Campo   0.9
1 2023-02-02  Velocidad del viento  Noroeste  Casa de Campo   0.7
2 2023-02-03  Velocidad del viento  Noroeste  Casa de Campo   0.7
3 2023-02-04  Velocidad del viento  Noroeste  Casa de Campo   0.7
4 2023-02-05  Velocidad del viento  Noroeste  Casa de Campo   0.8

In [330]:
df_velc_v_feb['Valor'] = pd.to_numeric(df_velc_v_feb['Valor'], errors='coerce')

In [331]:
df_velc_v_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [332]:
df_velc_v_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_mar_23.csv', sep=';', encoding='utf-8')
df_velc_v_mar.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-03-01  Velocidad del viento  Noroeste  Casa de Campo   0,9
1  2023-03-02  Velocidad del viento  Noroeste  Casa de Campo   0,9
2  2023-03-03  Velocidad del viento  Noroeste  Casa de Campo   1,1
3  2023-03-04  Velocidad del viento  Noroeste  Casa de Campo   0,8
4  2023-03-05  Velocidad del viento  Noroeste  Casa de Campo   0,8

In [333]:
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [334]:
df_velc_v_mar["Fecha"] = pd.to_datetime(df_velc_v_mar["Fecha"])
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [335]:
df_velc_v_mar['Valor'] = df_velc_v_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_mar['Valor'] = df_velc_v_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_mar.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-03-01  Velocidad del viento  Noroeste  Casa de Campo   0.9
1 2023-03-02  Velocidad del viento  Noroeste  Casa de Campo   0.9
2 2023-03-03  Velocidad del viento  Noroeste  Casa de Campo   1.1
3 2023-03-04  Velocidad del viento  Noroeste  Casa de Campo   0.8
4 2023-03-05  Velocidad del viento  Noroeste  Casa de Campo   0.8

In [336]:
df_velc_v_mar['Valor'] = pd.to_numeric(df_velc_v_mar['Valor'], errors='coerce')

In [337]:
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [338]:
df_velc_v_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_abr_23.csv', sep=';', encoding='utf-8')
df_velc_v_abr.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-04-01  Velocidad del viento  Noroeste  Casa de Campo   2,4
1  2023-04-02  Velocidad del viento  Noroeste  Casa de Campo   1,2
2  2023-04-03  Velocidad del viento  Noroeste  Casa de Campo   1,0
3  2023-04-04  Velocidad del viento  Noroeste  Casa de Campo   2,0
4  2023-04-05  Velocidad del viento  Noroeste  Casa de Campo   1,2

In [339]:
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [340]:
df_velc_v_abr["Fecha"] = pd.to_datetime(df_velc_v_abr["Fecha"])
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [341]:
df_velc_v_abr['Valor'] = df_velc_v_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_abr['Valor'] = df_velc_v_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_abr.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-04-01  Velocidad del viento  Noroeste  Casa de Campo   2.4
1 2023-04-02  Velocidad del viento  Noroeste  Casa de Campo   1.2
2 2023-04-03  Velocidad del viento  Noroeste  Casa de Campo   1.0
3 2023-04-04  Velocidad del viento  Noroeste  Casa de Campo   2.0
4 2023-04-05  Velocidad del viento  Noroeste  Casa de Campo   1.2

In [342]:
df_velc_v_abr['Valor'] = pd.to_numeric(df_velc_v_abr['Valor'], errors='coerce')

In [343]:
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [344]:
df_velc_v_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_may_23.csv', sep=';', encoding='utf-8')
df_velc_v_may.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-05-01  Velocidad del viento  Noroeste  Casa de Campo   1,1
1  2023-05-02  Velocidad del viento  Noroeste  Casa de Campo   1,0
2  2023-05-03  Velocidad del viento  Noroeste  Casa de Campo   1,6
3  2023-05-04  Velocidad del viento  Noroeste  Casa de Campo   3,1
4  2023-05-05  Velocidad del viento  Noroeste  Casa de Campo   1,6

In [345]:
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [346]:
df_velc_v_may["Fecha"] = pd.to_datetime(df_velc_v_may["Fecha"])
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [347]:
df_velc_v_may['Valor'] = df_velc_v_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_may['Valor'] = df_velc_v_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_may.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-05-01  Velocidad del viento  Noroeste  Casa de Campo   1.1
1 2023-05-02  Velocidad del viento  Noroeste  Casa de Campo   1.0
2 2023-05-03  Velocidad del viento  Noroeste  Casa de Campo   1.6
3 2023-05-04  Velocidad del viento  Noroeste  Casa de Campo   3.1
4 2023-05-05  Velocidad del viento  Noroeste  Casa de Campo   1.6

In [348]:
df_velc_v_may['Valor'] = pd.to_numeric(df_velc_v_may['Valor'], errors='coerce')

In [349]:
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [350]:
df_velc_v_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_jun_23.csv', sep=';', encoding='utf-8')
df_velc_v_jun.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-06-01  Velocidad del viento  Noroeste  Casa de Campo   1,2
1  2023-06-02  Velocidad del viento  Noroeste  Casa de Campo   1,2
2  2023-06-03  Velocidad del viento  Noroeste  Casa de Campo   1,3
3  2023-06-04  Velocidad del viento  Noroeste  Casa de Campo   1,1
4  2023-06-05  Velocidad del viento  Noroeste  Casa de Campo   1,4

In [351]:
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [352]:
df_velc_v_jun["Fecha"] = pd.to_datetime(df_velc_v_jun["Fecha"])
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [353]:
df_velc_v_jun['Valor'] = df_velc_v_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_jun['Valor'] = df_velc_v_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_jun.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-06-01  Velocidad del viento  Noroeste  Casa de Campo   1.2
1 2023-06-02  Velocidad del viento  Noroeste  Casa de Campo   1.2
2 2023-06-03  Velocidad del viento  Noroeste  Casa de Campo   1.3
3 2023-06-04  Velocidad del viento  Noroeste  Casa de Campo   1.1
4 2023-06-05  Velocidad del viento  Noroeste  Casa de Campo   1.4

In [354]:
df_velc_v_jun['Valor'] = pd.to_numeric(df_velc_v_jun['Valor'], errors='coerce')

In [355]:
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [356]:
df_velc_v_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_jul_23.csv', sep=';', encoding='utf-8')
df_velc_v_jul.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-07-01  Velocidad del viento  Noroeste  Casa de Campo   1,4
1  2023-07-02  Velocidad del viento  Noroeste  Casa de Campo   1,4
2  2023-07-03  Velocidad del viento  Noroeste  Casa de Campo   2,0
3  2023-07-04  Velocidad del viento  Noroeste  Casa de Campo   1,5
4  2023-07-05  Velocidad del viento  Noroeste  Casa de Campo   1,4

In [357]:
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [358]:
df_velc_v_jul["Fecha"] = pd.to_datetime(df_velc_v_jul["Fecha"])
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [359]:
df_velc_v_jul['Valor'] = df_velc_v_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_jul['Valor'] = df_velc_v_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_jul.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-07-01  Velocidad del viento  Noroeste  Casa de Campo   1.4
1 2023-07-02  Velocidad del viento  Noroeste  Casa de Campo   1.4
2 2023-07-03  Velocidad del viento  Noroeste  Casa de Campo   2.0
3 2023-07-04  Velocidad del viento  Noroeste  Casa de Campo   1.5
4 2023-07-05  Velocidad del viento  Noroeste  Casa de Campo   1.4

In [360]:
df_velc_v_jul['Valor'] = pd.to_numeric(df_velc_v_jul['Valor'], errors='coerce')

In [361]:
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [362]:
df_velc_v_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_ago_23.csv', sep=';', encoding='utf-8')
df_velc_v_ago.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-08-01  Velocidad del viento  Noroeste  Casa de Campo   1,6
1  2023-08-02  Velocidad del viento  Noroeste  Casa de Campo   1,9
2  2023-08-03  Velocidad del viento  Noroeste  Casa de Campo   1,8
3  2023-08-04  Velocidad del viento  Noroeste  Casa de Campo   1,9
4  2023-08-05  Velocidad del viento  Noroeste  Casa de Campo   1,5

In [363]:
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [364]:
df_velc_v_ago["Fecha"] = pd.to_datetime(df_velc_v_ago["Fecha"])
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [365]:
df_velc_v_ago['Valor'] = df_velc_v_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_ago['Valor'] = df_velc_v_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_ago.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-08-01  Velocidad del viento  Noroeste  Casa de Campo   1.6
1 2023-08-02  Velocidad del viento  Noroeste  Casa de Campo   1.9
2 2023-08-03  Velocidad del viento  Noroeste  Casa de Campo   1.8
3 2023-08-04  Velocidad del viento  Noroeste  Casa de Campo   1.9
4 2023-08-05  Velocidad del viento  Noroeste  Casa de Campo   1.5

In [366]:
df_velc_v_ago['Valor'] = pd.to_numeric(df_velc_v_ago['Valor'], errors='coerce')

In [367]:
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [368]:
df_velc_v_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_sep_23.csv', sep=';', encoding='utf-8')
df_velc_v_sep.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-09-01  Velocidad del viento  Noroeste  Casa de Campo   1,4
1  2023-09-02  Velocidad del viento  Noroeste  Casa de Campo   1,5
2  2023-09-03  Velocidad del viento  Noroeste  Casa de Campo   1,2
3  2023-09-04  Velocidad del viento  Noroeste  Casa de Campo   1,0
4  2023-09-05  Velocidad del viento  Noroeste  Casa de Campo   1,0

In [369]:
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [370]:
df_velc_v_sep["Fecha"] = pd.to_datetime(df_velc_v_sep["Fecha"])
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [371]:
df_velc_v_sep['Valor'] = df_velc_v_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_sep['Valor'] = df_velc_v_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_sep.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-09-01  Velocidad del viento  Noroeste  Casa de Campo   1.4
1 2023-09-02  Velocidad del viento  Noroeste  Casa de Campo   1.5
2 2023-09-03  Velocidad del viento  Noroeste  Casa de Campo   1.2
3 2023-09-04  Velocidad del viento  Noroeste  Casa de Campo   1.0
4 2023-09-05  Velocidad del viento  Noroeste  Casa de Campo   1.0

In [372]:
df_velc_v_sep['Valor'] = pd.to_numeric(df_velc_v_sep['Valor'], errors='coerce')

In [373]:
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [374]:
df_velc_v_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocoidad_viento_oct_23.csv', sep=';', encoding='utf-8')
df_velc_v_oct.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-10-01  Velocidad del viento  Noroeste  Casa de Campo   0,7
1  2023-10-02  Velocidad del viento  Noroeste  Casa de Campo   0,7
2  2023-10-03  Velocidad del viento  Noroeste  Casa de Campo   0,8
3  2023-10-04  Velocidad del viento  Noroeste  Casa de Campo   0,8
4  2023-10-05  Velocidad del viento  Noroeste  Casa de Campo   0,7

In [375]:
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [376]:
df_velc_v_oct["Fecha"] = pd.to_datetime(df_velc_v_oct["Fecha"])
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [377]:
df_velc_v_oct['Valor'] = df_velc_v_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_oct['Valor'] = df_velc_v_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_oct.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-10-01  Velocidad del viento  Noroeste  Casa de Campo   0.7
1 2023-10-02  Velocidad del viento  Noroeste  Casa de Campo   0.7
2 2023-10-03  Velocidad del viento  Noroeste  Casa de Campo   0.8
3 2023-10-04  Velocidad del viento  Noroeste  Casa de Campo   0.8
4 2023-10-05  Velocidad del viento  Noroeste  Casa de Campo   0.7

In [378]:
df_velc_v_oct['Valor'] = pd.to_numeric(df_velc_v_oct['Valor'], errors='coerce')

In [379]:
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [380]:
df_velc_v_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_nov_23.csv', sep=';', encoding='utf-8')
df_velc_v_nov.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-11-01  Velocidad del viento  Noroeste  Casa de Campo   2,6
1  2023-11-02  Velocidad del viento  Noroeste  Casa de Campo   4,0
2  2023-11-03  Velocidad del viento  Noroeste  Casa de Campo   2,8
3  2023-11-04  Velocidad del viento  Noroeste  Casa de Campo   3,8
4  2023-11-05  Velocidad del viento  Noroeste  Casa de Campo   2,7

In [381]:
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [382]:
df_velc_v_nov["Fecha"] = pd.to_datetime(df_velc_v_nov["Fecha"])
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     28 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [383]:
df_velc_v_nov['Valor'] = df_velc_v_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_nov['Valor'] = df_velc_v_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_nov.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2023-11-01  Velocidad del viento  Noroeste  Casa de Campo   2.6
1 2023-11-02  Velocidad del viento  Noroeste  Casa de Campo   4.0
2 2023-11-03  Velocidad del viento  Noroeste  Casa de Campo   2.8
3 2023-11-04  Velocidad del viento  Noroeste  Casa de Campo   3.8
4 2023-11-05  Velocidad del viento  Noroeste  Casa de Campo   2.7

In [384]:
df_velc_v_nov['Valor'] = pd.to_numeric(df_velc_v_nov['Valor'], errors='coerce')

In [385]:
df_nulos = df_velc_v_nov[df_velc_v_nov.isnull().any(axis=1)]
print(df_nulos)

        Fecha              Magnitud      Zona       Estación  Valor
22 2023-11-23  Velocidad del viento  Noroeste  Casa de Campo    NaN
23 2023-11-24  Velocidad del viento  Noroeste  Casa de Campo    NaN

In [386]:
df_velc_v_nov['Valor'] = df_velc_v_nov['Valor'].fillna(df_velc_v_nov['Valor'].mean())
df_velc_v_nov.head(25)

        Fecha              Magnitud      Zona       Estación     Valor
0  2023-11-01  Velocidad del viento  Noroeste  Casa de Campo  2.600000
1  2023-11-02  Velocidad del viento  Noroeste  Casa de Campo  4.000000
2  2023-11-03  Velocidad del viento  Noroeste  Casa de Campo  2.800000
3  2023-11-04  Velocidad del viento  Noroeste  Casa de Campo  3.800000
4  2023-11-05  Velocidad del viento  Noroeste  Casa de Campo  2.700000
5  2023-11-06  Velocidad del viento  Noroeste  Casa de Campo  1.100000
6  2023-11-07  Velocidad del viento  Noroeste  Casa de Campo  1.100000
7  2023-11-08  Velocidad del viento  Noroeste  Casa de Campo  1.000000
8  2023-11-09  Velocidad del viento  Noroeste  Casa de Campo  2.000000
9  2023-11-10  Velocidad del viento  Noroeste  Casa de Campo  1.600000
10 2023-11-11  Velocidad del viento  Noroeste  Casa de Campo  3.500000
11 2023-11-12  Velocidad del viento  Noroeste  Casa de Campo  2.200000
12 2023-11-13  Velocidad del viento  Noroeste  Casa de Campo  1.200000
13 2023-11-14  Velocidad del viento  Noroeste  Casa de Campo  0.600000
14 2023-11-15  Velocidad del viento  Noroeste  Casa de Campo  0.600000
15 2023-11-16  Velocidad del viento  Noroeste  Casa de Campo  0.600000
16 2023-11-17  Velocidad del viento  Noroeste  Casa de Campo  0.600000
17 2023-11-18  Velocidad del viento  Noroeste  Casa de Campo  0.500000
18 2023-11-19  Velocidad del viento  Noroeste  Casa de Campo  0.500000
19 2023-11-20  Velocidad del viento  Noroeste  Casa de Campo  0.700000
20 2023-11-21  Velocidad del viento  Noroeste  Casa de Campo  0.800000
21 2023-11-22  Velocidad del viento  Noroeste  Casa de Campo  0.800000
22 2023-11-23  Velocidad del viento  Noroeste  Casa de Campo  1.564286
23 2023-11-24  Velocidad del viento  Noroeste  Casa de Campo  1.564286
24 2023-11-25  Velocidad del viento  Noroeste  Casa de Campo  0.700000

In [387]:
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [388]:
df_velc_v_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_23/velocidad_viento_dic_23.csv', sep=';', encoding='utf-8')
df_velc_v_dic.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-12-01  Velocidad del viento  Noroeste  Casa de Campo   1,5
1  2023-12-02  Velocidad del viento  Noroeste  Casa de Campo   0,9
2  2023-12-03  Velocidad del viento  Noroeste  Casa de Campo   0,7
3  2023-12-04  Velocidad del viento  Noroeste  Casa de Campo   1,7
4  2023-12-05  Velocidad del viento  Noroeste  Casa de Campo   0,7

In [389]:
df_velc_v_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     28 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [390]:
df_velc_v_dic['Valor'] = df_velc_v_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_dic['Valor'] = df_velc_v_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_dic.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2023-12-01  Velocidad del viento  Noroeste  Casa de Campo   1.5
1  2023-12-02  Velocidad del viento  Noroeste  Casa de Campo   0.9
2  2023-12-03  Velocidad del viento  Noroeste  Casa de Campo   0.7
3  2023-12-04  Velocidad del viento  Noroeste  Casa de Campo   1.7
4  2023-12-05  Velocidad del viento  Noroeste  Casa de Campo   0.7

In [391]:
df_velc_v_dic['Valor'] = pd.to_numeric(df_velc_v_dic['Valor'], errors='coerce')

In [392]:
df_nulos = df_velc_v_dic[df_velc_v_dic.isnull().any(axis=1)]
print(df_nulos)

        Fecha              Magnitud      Zona       Estación  Valor
7  2023-12-08  Velocidad del viento  Noroeste  Casa de Campo    NaN
8  2023-12-09  Velocidad del viento  Noroeste  Casa de Campo    NaN
9  2023-12-10  Velocidad del viento  Noroeste  Casa de Campo    NaN

In [393]:
df_velc_v_dic['Valor'] = df_velc_v_dic['Valor'].fillna(df_velc_v_dic['Valor'].mean())
df_velc_v_dic.head(25)

         Fecha              Magnitud      Zona       Estación     Valor
0   2023-12-01  Velocidad del viento  Noroeste  Casa de Campo  1.500000
1   2023-12-02  Velocidad del viento  Noroeste  Casa de Campo  0.900000
2   2023-12-03  Velocidad del viento  Noroeste  Casa de Campo  0.700000
3   2023-12-04  Velocidad del viento  Noroeste  Casa de Campo  1.700000
4   2023-12-05  Velocidad del viento  Noroeste  Casa de Campo  0.700000
5   2023-12-06  Velocidad del viento  Noroeste  Casa de Campo  0.500000
6   2023-12-07  Velocidad del viento  Noroeste  Casa de Campo  0.400000
7   2023-12-08  Velocidad del viento  Noroeste  Casa de Campo  0.782143
8   2023-12-09  Velocidad del viento  Noroeste  Casa de Campo  0.782143
9   2023-12-10  Velocidad del viento  Noroeste  Casa de Campo  0.782143
10  2023-12-11  Velocidad del viento  Noroeste  Casa de Campo  0.500000
11  2023-12-12  Velocidad del viento  Noroeste  Casa de Campo  0.800000
12  2023-12-13  Velocidad del viento  Noroeste  Casa de Campo  1.700000
13  2023-12-14  Velocidad del viento  Noroeste  Casa de Campo  0.800000
14  2023-12-15  Velocidad del viento  Noroeste  Casa de Campo  0.800000
15  2023-12-16  Velocidad del viento  Noroeste  Casa de Campo  0.500000
16  2023-12-17  Velocidad del viento  Noroeste  Casa de Campo  0.500000
17  2023-12-18  Velocidad del viento  Noroeste  Casa de Campo  0.500000
18  2023-12-19  Velocidad del viento  Noroeste  Casa de Campo  0.700000
19  2023-12-20  Velocidad del viento  Noroeste  Casa de Campo  1.200000
20  2023-12-21  Velocidad del viento  Noroeste  Casa de Campo  0.600000
21  2023-12-22  Velocidad del viento  Noroeste  Casa de Campo  0.500000
22  2023-12-23  Velocidad del viento  Noroeste  Casa de Campo  0.500000
23  2023-12-24  Velocidad del viento  Noroeste  Casa de Campo  0.500000
24  2023-12-25  Velocidad del viento  Noroeste  Casa de Campo  0.600000

In [394]:
df_velc_v_dic["Fecha"] = pd.to_datetime(df_velc_v_dic["Fecha"])
df_velc_v_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [395]:
df_vel_vto = pd.concat([df_velc_v_ene, df_velc_v_feb, df_velc_v_mar, df_velc_v_abr, df_velc_v_may, df_velc_v_jun, df_velc_v_jul, df_velc_v_ago, df_velc_v_sep, df_velc_v_oct, df_velc_v_nov, df_velc_v_dic ],axis=0, ignore_index=True)
df_vel_vto

         Fecha              Magnitud      Zona       Estación  Valor
0   2023-01-01  Velocidad del viento  Noroeste  Casa de Campo    0.8
1   2023-01-02  Velocidad del viento  Noroeste  Casa de Campo    1.0
2   2023-01-03  Velocidad del viento  Noroeste  Casa de Campo    0.7
3   2023-01-04  Velocidad del viento  Noroeste  Casa de Campo    0.6
4   2023-01-05  Velocidad del viento  Noroeste  Casa de Campo    0.7
..         ...                   ...       ...            ...    ...
360 2023-12-27  Velocidad del viento  Noroeste  Casa de Campo    0.6
361 2023-12-28  Velocidad del viento  Noroeste  Casa de Campo    0.5
362 2023-12-29  Velocidad del viento  Noroeste  Casa de Campo    0.6
363 2023-12-30  Velocidad del viento  Noroeste  Casa de Campo    0.7
364 2023-12-31  Velocidad del viento  Noroeste  Casa de Campo    1.8

[365 rows x 5 columns]

In [396]:
df_vel_vto.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [397]:
df_vel_vto.rename(columns={'Valor': 'Velocidad_Viento'}, inplace=True)
df_vel_vto.head()

       Fecha  Velocidad_Viento
0 2023-01-01               0.8
1 2023-01-02               1.0
2 2023-01-03               0.7
3 2023-01-04               0.6
4 2023-01-05               0.7

In [398]:
df_vel_vto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             365 non-null    datetime64[ns]
 1   Velocidad_Viento  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [399]:
dataframes = [df_temp, df_precp, df_hum_rel, df_radia_solar, df_vel_vto]
dataframes

[         Fecha  Temperatura_Media
 0   2023-01-01                9.3
 1   2023-01-02               10.7
 2   2023-01-03                7.2
 3   2023-01-04                5.7
 4   2023-01-05                5.6
 ..         ...                ...
 360 2023-12-27                3.2
 361 2023-12-28                2.6
 362 2023-12-29                4.4
 363 2023-12-30                5.6
 364 2023-12-31                6.7

 [365 rows x 2 columns],
          Fecha  Precipitaciones
 0   2023-01-01              0.0
 1   2023-01-02              0.0
 2   2023-01-03              0.0
 3   2023-01-04              0.0
 4   2023-01-05              0.0
 ..         ...              ...
 360 2023-12-27              0.0
 361 2023-12-28              0.0
 362 2023-12-29              0.0
 363 2023-12-30              0.0
 364 2023-12-31              0.0

 [365 rows x 2 columns],
                    Fecha  Humedad_Relativa
 0    2023-12-01 00:00:00              66.0
 1    2023-12-02 00:00:00              80.0
 2    2023-12-03 00:00:00              83.0
 3    2023-12-04 00:00:00              79.0
 4    2023-12-05 00:00:00              77.0
 ..                   ...               ...
 360  2023-12-27 00:00:00              82.0
 361  2023-12-28 00:00:00              86.0
 362  2023-12-29 00:00:00              88.0
 363  2023-12-30 00:00:00              82.0
 364  2023-12-31 00:00:00              91.0

 [365 rows x 2 columns],
          Fecha  Radiación_Solar
 0   2023-01-01             82.0
 1   2023-01-02             75.0
 2   2023-01-03            101.0
 3   2023-01-04             99.0
 4   2023-01-05            100.0
 ..         ...              ...
 360 2023-12-27            101.0
 361 2023-12-28             54.0
 362 2023-12-29             38.0
 363 2023-12-30             95.0
 364 2023-12-31             56.0

 [365 rows x 2 columns],
          Fecha  Velocidad_Viento
 0   2023-01-01               0.8
 1   2023-01-02               1.0
 2   2023-01-03               0.7
 3   2023-01-04               0.6
 4   2023-01-05               0.7
 ..         ...               ...
 360 2023-12-27               0.6
 361 2023-12-28               0.5
 362 2023-12-29               0.6
 363 2023-12-30               0.7
 364 2023-12-31               1.8

 [365 rows x 2 columns]]

In [400]:
for df in dataframes:
    df["Fecha"] = pd.to_datetime(df["Fecha"], errors='coerce')  # 'errors="coerce"' convierte valores inválidos en NaT

In [401]:
df_clima_23 = reduce(lambda left, right: pd.merge(left, right, on="Fecha", how="inner"), dataframes)
df_clima_23

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
0,2023-02-01,4.1,0.0,67.0,138.0,0.9
1,2023-02-02,6.0,0.0,64.0,136.0,0.7
2,2023-02-03,5.9,0.0,60.0,141.0,0.7
3,2023-02-04,6.6,0.0,56.0,144.0,0.7
4,2023-02-05,7.1,0.0,47.0,148.0,0.8
...,...,...,...,...,...,...
360,2023-12-29,4.4,0.0,88.0,38.0,0.6
361,2023-12-30,5.6,0.0,66.0,95.0,0.7
362,2023-12-30,5.6,0.0,82.0,95.0,0.7
363,2023-12-31,6.7,0.0,68.0,56.0,1.8
364,2023-12-31,6.7,0.0,91.0,56.0,1.8

In [402]:
df_clima_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              365 non-null    datetime64[ns]
 1   Temperatura_Media  365 non-null    float64
 2   Precipitaciones    365 non-null    float64
 3   Humedad_Relativa   365 non-null    float64
 4   Radiación_Solar    365 non-null    float64
 5   Velocidad_Viento   365 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 17.2 KB

In [403]:
# Guardar dataframe en csv
df_clima_23.to_csv('archivo23.csv', index=False)